.card-image {
  width: 150px;
  height: 175px;
}
.card {
  width: 200px !important;
  height: 350px;
  margin-right: 15px !important;
  margin-bottom: 15px !important;
}
.card-group {
  margin-top: 35px !important;
}
.card-header {
  margin-top: 5px !important;
}
.modal-height {
  height: 500px !important;
}
