.main {
  background-color: #29596e !important;
  display: flex;
  align-items: center;
  height: 65px;
}
.home {
  margin-top: 8% !important;
  margin-bottom: 8% !important;
}
.order-count {
  position: absolute;
  top: 5px;
  width: 24px;
  height: 24px;
  right: 168px;
  background-color: #cc0000 !important;
  border-radius: 10px;
  text-align: center !important;
  color: bisque;
  line-height: 24px;
}
.order {
  font-weight: bold !important;
  justify-content: space-around !important;
}
.label-navbar {
  display: flex;
  width: auto;
  justify-self: center !important;
}
.navbar-search {
  width: 450px !important;
}
