.order-segment {
  margin-top: 1% !important;
  background-color: #f6f6f6 !important;
}
.orderNow {
  margin-top: 14% !important;
  width: 100% !important;
  height: fit-content !important;
  background-color: #f6f6f6 !important;
}
.errorMessage {
  color: red !important;
}
