.errorMessage {
  margin-left: 1% !important;
  margin-top: 0% !important;
  margin-bottom: 0% !important;
  padding: 0% !important;
  text-align: left;
  color: red;
}
.errorInput {
  margin-top: 0% !important;
}
