.conteiner-1 {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  margin: 25px;
}
.conteiner-2 {
  flex-basis: 30%;
}
.conteiner-3 {
  flex-basis: 70%;
}
.input {
  display: flex;
  align-items: center;
  margin: 3px;
}
.label {
  width: 25% !important;
  font-weight: bold;
}
.input-width {
  width: 75% !important;
}
.category-width {
  width: 50%;
}
.category-button {
  width: 25%;
}
.description {
  display: flex;
  width: 90% !important;
  margin-left: 5% !important;
  margin-right: 5% !important;
  margin-bottom: 4px;
  padding-bottom: 5px !important;
}
.book-image {
  width: 80%;
  height: 80% !important;
}
.button-align {
  margin-top: 5px !important;
  margin-left: 78% !important;
  width: 150px !important;
}
.conteiner-form {
  display: flex;
  align-items: flex-start;
  margin: 25px;
}
.second-input {
  display: flex;
  align-items: center;
  margin-left: 5%;
  margin-right: 5%;
}
.second-category-width {
  width: 75%;
}
.second-label {
  width: 25%;
  font-weight: bold;
}
.third-step {
  margin: 3%;
}
.author-border {
  border-style: double;
}
.modal-height {
  min-height: 630px;
}
