.shopping-card {
  margin-top: 3% !important;
  padding: 3% !important;
  background-color: #f6f6f6 !important;
  display: flex;
  align-items: center;
}
.card-button {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  width: 30px !important;
  height: 30px !important;
}
.card-button-group {
  display: flex;
  align-items: center !important;
}
.card-label {
  margin: 3px !important;
}
.delete-icon {
  color: black !important;
}
.delete-icon:hover {
  color: red !important;
}
.card-content {
  width: 70% !important;
}
.card-button {
  width: 20% !important;
}
.card-delete {
  width: 10% !important;
}
.orderNow {
  width: 100% !important;
  height: fit-content !important;
  margin-top: 3% !important;
}
.cardHeader {
  margin-top: 2% !important;
}
.headerText {
  margin-left: 65% !important;
}
.gridClass {
  width: 100% !important;
}
.orderButton {
  margin-top: 4% !important;
}
